.navbar{
    font-family: 'Outfit';
    font-size: larger;
    background-color: white;
    box-shadow: 0px 10px 25px rgba(0, 0 ,0, .5);
}

.navbar .navbar-nav .nav-link {
    color: rgb(36,145,235);
}

#menuLink:hover{
    color: rgb(0,68,140);
}

#community:hover{
    color: rgb(0,68,140);
}

.dropdown{
    margin: 5px;
    transition: .5s;
}

.dropdown .dropdown-menu {
    border-radius: 5px;
    border: none;
    background-color: rgb(255,166,0);
    box-shadow: 0px 10px 25px rgba(0, 0 ,0, .5);
    transition: all 0.4s ;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown-item {
   font-family: 'Outfit';
   font-size: larger;
   font-weight: bold;
   color: white;
   transition: .5s;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

.dropdown-item:hover {
    font-family: 'Outfit';
    color: rgb(0,68,140);
    background-color: rgb(255,166,0);
}

.something {
    margin-left: 20px;
    font-family: 'Outfit';
    font-weight: bold;
    align-self: center;
    height: 2.5rem;
    border-radius: 0px;
    background-color: rgb(255,166,0);
    border: none;
    transition: .4s;
    border-radius: 5px;
}

.something:hover{
    border-radius: 0px;
    background-color: rgb(255,166,0);
    color: rgb(0,68,140);
    border-radius: 10px;
}