body{
    background-color: #1A438B;
}

.sectionCard{
    background-color:  white;
    border-radius: 0%;
    padding: 2% 1% 2% 1%;
    width: min(80vw, 1320px);
    margin: auto;
}


.aboutUs h1, .resources h1, #eventsHeader{
    font-family: 'Outfit', sans-serif;
    color: rgb(0,68,140);
    font-size: 50px;
    font-weight: bold;
    margin: 1em 1em 0em 1em;
    text-decoration: underline #ffb703 solid 0.15em;
    text-underline-position: under;
}

.resources h1{
    margin-top: 0em;
}

.aboutUs p{
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    width: min(85%, 1200px);
    margin: 1.5em 2em 0em 2em;
}

.option{
    display: flex;
    padding: 1em;
    align-items: center;
    flex-shrink: 0;
}

.images{
    width: min(90vw, 400px);
    margin: 0em 2em 0em 2em;
}

.cardText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.desc{
    font-family: 'Outfit', sans-serif;
    color: rgb(0,68,140);
    font-size: 48px;
    line-height: normal;
    font-weight: normal;
}

.learnMore{
    
    background-color: rgb(255,166,0);
    border: none;
    border-radius: 0px;

    margin-top: 1.5em;
    
    width: 13em;
    height: 2.5em;
    
    font-size: larger;
    font-family: "Outfit", sans-serif;
    font-weight: normal;

    transition: .4s;
}

.learnMore:hover{
    border-radius: 8px;
}

.upcomingEvents{
    display: flex;
    padding: 1em;
    width: min(80vw, 1320px);
    margin: auto;
    justify-content: center;
}

#eventsHeader{
    text-align: center;
    margin: 1em auto 0.5em auto;
    text-decoration: none;
}

.eventCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    font-family: 'Outfit', sans-serif;
}

.eventImage{
    width: 100%;
    margin-bottom: 1em;
}

.eventText{
    margin-top:  0em;
    text-align: center;
    font-size: 20px;
}
.lead1{
    font-size:  25px;
}


@media screen and (max-width: 1200px){
    .option{
        flex-direction: column;
    }
    .cardText{
        margin-top: 1em;
        align-items: center;
        text-align: center;
    }

    .learnMore{
        margin-top: .5em;
        margin-bottom: 2em;
    }
    body{
        background-color: white;
    }
    .aboutUs h1, .resources h1{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .desc{
        font-size: 32px;
    }
}


/* Style modal */
#modal_container{
  background-color: white;
  color:black;
  height: 20em;
  width: 20em;
}
