body{
    background-color: #1A438B;
}

.top{
  background-color: white;
  padding-bottom: 5vh;
}

.title{

  background-color: WHITE;

}

.sectionTitle{
  color: #ffb703;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  font-size: min(8vw, 50px);
  padding-top: 5vh;
  padding-bottom: 0vh;
  margin-bottom: 2vh;

  width: fit-content;
  margin: auto;

}

.small{

  font-size: min(6vw, 40px);;

}

p, .quote{
  color: #1A438B;
  text-align: left;
  font-family: 'Outfit', sans-serif; 
  font-size: min(4.5vw, 20px);
  max-width: min(80vw, 1320px);
  margin: auto;
  padding: 3vw 0 0vw 0;
}

.about{

  
  font-size: min(4vw, 15px);
  padding-left: 2vw;
  padding-right: 2vw;

}

.container{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
    margin-bottom: -2em;
    justify-content: center;
  }
  
  .item{
    margin: auto;
    margin-bottom: 3em;
    height: 500px;
    width: min(90%, 413px);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(42, 41, 41);
    background-color: white;

    padding-top: 1em;
    margin-top: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    color: #1A438B;
  }

  .mid{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
  }

  .or{

    padding-top: 0px;
  
  
  }
  
  
  .desc{

    color: #ffb703;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: min(8vw, 50px);


  }



  .imgs{

    width: 180px;
    margin-bottom: -20px;

  }

  .something{

    margin-top: 1em;
    width: 90%;
    margin: auto;

  }