* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: noto-sans;
  src: url("NotoSans-Regular.ttf");
}

@font-face {
  font-family: oswald;
  src: url("Oswald-VariableFont_wght.ttf");
}

footer {
  width: 100%;
  height: 250px;
  background-color: #4299eb;
  /*background-color: #296ec3; #fafafa*/
}

#heading1,
li {
  color: #278ce8;
}
h2 {
  color: #fafafa;
  font-family: oswald;
  padding-bottom: 8px;
}

h4 {
  color: #f89e09;
  font-family: oswald;
  text-align: center;
  padding-bottom: 10px;
  font-weight: lighter;
}

li {
  font-family: 'Noto Sans';
}

.footer {
  display: flex;
  text-align: center;
  width: min(90vw, 1320px);
  margin: auto;
}

.row {
  width: 80%;
  margin: auto;
  text-align: center;
}

.images {
  padding: 10px;
  width: 25%;
  height: auto;
}

.image-links {
  display: inline-block;
  padding: 10px;
  width: 35px;
}

.facebook-logo {
  display: inline-block;
  padding: 15px;
  width: 35px;
}

#heading1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 300%;
  font-family: oswald;
}

#copyright {
  color: #fafafa;
  font-family: 'Noto Sans';
  font-size: 12px;
  padding-left: 15px;
  padding-top: 20px;
}

.quoteBox {
  background-color: #1a438b;
  height: fit-content;
  width: 100%;
  padding-bottom: 4vh;
}

.quoteBox1 {
  background-color: #1a357c;
  height: fit-content;
  width: 100%;
  padding-bottom: 4vh;
}

#images-box {
  display: flex;
  justify-content: center;
  width: min(90vw, 1320px);
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-right: 30px;
}

.names {
  color: #f89e09;
  font-size: 220%;
  font-weight: bold;
  padding-top: 30px;
  font-family: oswald;
  text-align: center;
}

.quote {
  color: #fafafa;
  padding-top: 15px;
  font-family: 'Noto Sans';
  width: min(90vw, 1320px);
  margin: auto;
}

.list {
  list-style: none;
}

.logo {
  height: 115px;
  width: 195px;

}

.footer-logo {
  position: absolute;

}

.nav-div {
  width: fit-content;
  margin: auto;
}

a:link {
  text-decoration: none;
  color: #0045db;
}

a:visited {
  color: #0045db;
}
