/* footer css */

footer {
  background-color: #f5f5f5;
  font-family:  Outfit;
  margin-bottom: -1em;
}

li {
  margin: auto;
  padding: 3px;
  font-family:  Outfit;
}

h2 {
  color: rgb(23, 23, 23);
  margin-top: 0.5vh;
}

.footer {
  display: flex;
  text-align: center;
  width: min(90vw, 1320px);
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

.image-links {
  display: inline-block;
  padding: 10px;
  height: min(max(6vw, 50px), 70px);
}

.linkedin {
  display: inline-block;
  padding: 10px;
  height: min(max(7vw, 55px), 70px);
  padding-bottom: 15px;
}

#copyright {
  color: rgb(23, 23, 23);
  font-size: 12px;
}

#images-box {
  display: flex;
  justify-content: center;
  width: min(90vw, 1320px);
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.list {
  list-style: none;
  margin: auto;
}

.logo {
  height: 115px;
  width: 195px;
}

.footer-logo {
  position: absolute;
}

.nav-div {
  width: fit-content;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .row {
    grid-template-columns: repeat(1, 100%);
  }
  .footer-logo {
    position: relative;
  }
  .footer {
    flex-direction: column;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  color: rgb(23, 23, 23);
}

a {
  color: rgb(23, 23, 23);
  font-size: 18px;
}