* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: noto-sans;
  src: url("NotoSans-Regular.ttf");
}

@font-face {
  font-family: oswald;
  src: url("Oswald-VariableFont_wght.ttf");
}

footer {
  background-color: #4299eb;
  /*background-color: #296ec3;#4299eb; #fafafa*/
}

li {
  font-family: "Lato";
  margin: auto;
  padding: 3px;
}

h2 {
  color: #fafafa;
  font-family: "Oswald";
  margin-top: 0.5vh;
}

.footer {
  display: flex;
  text-align: center;
  width: min(90vw, 1320px);
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

.image-links {
  display: inline-block;
  padding: 10px;
  height: 6vh;
}

.linkedin {
  display: inline-block;
  padding: 10px;
  height: 7vh;
  padding-bottom: 15px;
}

#copyright {
  color: #fafafa;
  font-family: "Lato";
  font-size: 12px;
  font-family: "Outfit";
}

#images-box {
  display: flex;
  justify-content: center;
  width: min(90vw, 1320px);
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.list {
  list-style: none;
  margin: auto;
}

.logo {
  height: 115px;
  width: 195px;
}

.footer-logo {
  position: absolute;
}

.nav-div {
  width: fit-content;
  margin: auto;
}

ol,
ul {
  padding: 0;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .row {
    grid-template-columns: repeat(1, 100%);
  }
  .footer-logo {
    position: relative;
  }
  .footer {
    flex-direction: column;
  }
}

a:link {
  text-decoration: none;
  font-family: "Outfit";
}

a:visited {
  color: #fafafa;
}

a {
  color: #fafafa;
}
