* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #063a85;
}

.info{
    font-family: 'Outfit';
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    width: 80%;
    padding: 5%;
    /*CSS Grid*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px repeat(2, 460px);
    row-gap: 20px;
    column-gap: 30px;
}

.yellowBorder {
  grid-column: 1 / -1;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding-bottom: 5px;
  color: #fafafa;
  font-weight: lighter;
  font-size: 48px;
  border-bottom: 5px solid #f89e09;
  margin-bottom: 50px;
}

h5 {
  padding-top: 20px;
  font-family: 'Outfit';
  text-align: center;
  font-weight: 800;
  color: #063a85;
}
h6 {
  padding: 20px 20px 0px 20px;
  font-family: 'Outfit';
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #063a85;
}


.photo {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 6px solid #f89e09;
}
.contact {
  width: 40px;
  height: auto;
  padding-top: 5px;
  padding-bottom: auto;
  padding-right: 10px;
}

.padding {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  margin-right: 15px;
}

.phone {
  margin-right: 20px;
}

.mem {
  border: 5px solid #f89e09;
  background-color: #ffffff;
}

.info a:link {
  text-decoration: none;
  color: #063a85;
  font-size: clamp(1.5rem, 1.35vw, 2rem);
}

.info a:visited {
  color: #063a85;
}

@media screen and (max-width: 1200px){
  .info{
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: 80px repeat(6, 460px);
      justify-items: center;
  }
}


/* Style modal */
#modal_container{
  background-color: white;
  color:black;
  height: 20em;
  width: 20em;
}